.center-div-horizontally-vertically {
    padding : 3% 8% 3% 8%;
}

// .div-shadow{
//     box-shadow: 10px 10px rgb(150, 150, 150);
// }

.button-align{
    display: flex;
    justify-content: center;
}

.button-size{
    width: 50%;

}

// .form-background{
//     background-color: rgb(235, 235, 235);
// }
